body {
    background-image: url('./italy-rome-national-flag-pinned-on-political-map-3d-illustration_764664-37593.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section {
    background-color: #f2e2cf;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #3d2514;
  }

  header {
    background-color: #c9b6aa;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    background-color: #c9b6aa;
    padding: 10px;
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin: 0 10px;
  }
  
  main {
    padding: 20px;
  } 